################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StockMarket.Adapter/obj/Debug
/.vs/StockMarket/v15/Server/sqlite3
/StockMarket.Adapter/bin/Debug
/StockMarket.BAL/bin/Debug
/StockMarket.BAL/obj/Debug
/StockMarket.DAL/bin/Debug
/StockMarket.DAL/obj/Debug
/TestApps/obj/Debug/netcoreapp2.1
/TestApps/obj
/TestApps/bin/Debug/netcoreapp2.1
/StockCalculator
