################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StockMarket.Adapter/obj/Debug
/.vs/StockMarket/v15/Server/sqlite3
/StockMarket/bin
/StockMarket/obj
/StockMarket/.vs
/StockMarket.Adapter/bin
/StockMarket.Adapter/obj
/StockMarket.BAL/bin
/StockMarket.BAL/obj
/StockMarket.DAL/bin
/StockMarket.DAL/obj
/StockMarket.Model/bin
/StockMarket.Model/obj
/StockCalculator
