<div class="row">
    <div class="col col-sm-6">
      <div> <span> From </span></div>
      <div class="input-group datepicker-input">
        <input class="form-control" placeholder="yyyy-mm-dd" name="fromDp" [(ngModel)]="fromDate" ngbDatepicker #d="ngbDatepicker">
        <button class="input-group-addon" (click)="d.toggle()" type="button">
          <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
          <span class="fa fa-calendar"></span>
        </button>
      </div>
    </div>
    <div class="col col-sm-6">
      <div> <span> To </span></div>
      <div class="input-group datepicker-input">
        <input class="form-control" placeholder="yyyy-mm-dd" name="toDp" [(ngModel)]="toDate" ngbDatepicker #dp="ngbDatepicker">
        <button class="input-group-addon" (click)="dp.toggle()" type="button">
          <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
          <span class="fa fa-calendar"></span>
        </button>
      </div>
    </div>
  
  </div>

  <div class="row">
    <div class="col col-sm-6">
        <div *ngIf="lineChartLabels.length == 0 ">
     <p></p>
          <p>
        <button class="btn btn-info " (click)="getChartOnline()">Generate Charts</button>
      </p>
      
        </div>
  
        <div *ngIf="lineChartLabels.length > 0 ">
      <p>
        <button class="btn btn-primary" (click)="sketchMACD()">Draw</button>
        <button class="btn btn-primary" (click)="ExportToCSV()">Export dataset To CSV</button>
        </p>
  
        </div>
    </div>
  </div>



