<Datatable-StockSummary></Datatable-StockSummary>

<div class="row">
  <div class="col col-sm-6">
    <div>
      <p></p>
      <sal-modal btnlabel="Add Index">
        <div class="header">
          <h4 class="modal-title">Extract Index <i class="fab fa fa-table"></i></h4>
        </div>
        <div class="body">
          <div class="row">
            <div class="col col-sm-3">
              <img class="img-fluid mx-auto d-block" [src]="'assets/images/stock-market-icon.png'" alt="Random first slide"
                width="100%">
            </div>
            <div class="col col-sm-9">
              <p>Please input the stock Index to extract</p>

              <div class="">
                <div class="form-group input-group">
                  <input type="text" [(ngModel)]="stockIndex" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <button type="button" class="btn btn-info" (click)="SyncStockIndex()">Search</button>
        </div>
      </sal-modal>
    </div>
  </div>
</div>
