<app-page-header [heading]="'Tweets'" [icon]="'fa-twitter'"></app-page-header>
<div class="row mt-3">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><i class="fa fa-fw fas fa-user"></i> Existing User</div>
      <div class="card-body">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
        <div class="card">
          <div class="card-header"><i class="fa fa-fw fas fa-filter"></i> Filter Query</div>
          <div class="card-body">
          </div>
        </div>
      </div>

</div>