
<app-page-header [heading]="'Analysis Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
<div class="row mt-3">
  <div class="col-sm-12">
    <div class="card">
     <!--<div class="card-header">Charts</div>-->
      <div class="card-body">

        <date-range (SearchOnDate) = "onDateChange($event)"></date-range>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <ul class="nav nav-tabs" role="tablist">
              <li *ngFor="let wallet of coinwallet; let first = first;" [ngClass]="{firstItem: first}" role="presentation"
                class="accounts_li" [class.active]="selectedwallet===wallet">
                <a class="nav-item nav-link " [class.active]="selectedwallet === wallet" role="tab" (click)="selectedwallet = wallet"
                  aria-controls="one" role="tab" data-toggle="tab">{{wallet}}</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" [hidden]="selectedwallet !== coinwallet[0]"
                role="tabpanel" class="tab-pane active" id="one">
                <MACD-Chart [fromDate]="fromDate" [toDate]="toDate"></MACD-Chart>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" [hidden]="selectedwallet !== coinwallet[1]"
                role="tabpanel" class="tab-pane active" id="two">
                <RSI-Chart [fromDate]="fromDate" [toDate]="toDate"></RSI-Chart>
              </div>

              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" [hidden]="selectedwallet !== coinwallet[2]"
                role="tabpanel" class="tab-pane active" id="two">
                <SO-Chart [fromDate]="fromDate" [toDate]="toDate"></SO-Chart>
              </div>

              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" [hidden]="selectedwallet !== coinwallet[3]"
                role="tabpanel" class="tab-pane active" id="two">
                <guppy-Chart [fromDate]="fromDate" [toDate]="toDate"></guppy-Chart>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
