<div class="col-sm-12">
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>Last update</th>
        <th>Twitter ID</th>
        <th>No. of records</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2018/10/20</td>
        <td>@JZarif</td>
        <td>3200</td>
        <td>
          <i class="fas fa fa-download"></i>
        </td>
      </tr>
      <tr>
        <td>2018/10/20</td>
        <td>@realDonaldTrump</td>
        <td>3100</td>
        <td><i class="fas fa fa-download"></i></td>
      </tr>
      <tr>
        <td>2018/10/20</td>
        <td>@POTUS</td>
        <td>3000</td>
        <td><i class="fas fa fa-download"></i></td>
      </tr>
    </tbody>
  </table>

</div>





<div class="">
  <div class="form-group input-group">
    <input type="text" class="form-control">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
    </div>
  </div>
</div>
