<form class="form-inline mb-3">
  <div class="form-group">
    <div class="input-group datepicker-input">

      <div> <span> From </span></div>
      <input class="form-control" placeholder="yyyy-mm-dd" name="fromDp" [(ngModel)]="fromDate" ngbDatepicker #d="ngbDatepicker">
      <button class="input-group-addon" (click)="d.toggle()" type="button">
        <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
        <span class="fa fa-calendar"></span>
      </button>
    </div>
    <div> <span> To </span></div>
    <div class="input-group datepicker-input">
      <input class="form-control" placeholder="yyyy-mm-dd" name="toDp" [(ngModel)]="toDate" ngbDatepicker #dp="ngbDatepicker">
      <button class="input-group-addon" (click)="dp.toggle()" type="button">
        <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
        <span class="fa fa-calendar"></span>
      </button>
    </div>
  </div>
</form>
<div class="alert alert-info mb-0">
  <strong>fromDate: {{ fromDate | json }}
  toDate: {{ toDate | json }}</strong> 
</div>
